.navbar {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between; /* logo left, menu right */
  align-items: center;
  z-index: 1000;
}

.navbar-logo .logo {
  height: 40px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  text-decoration: none;
  color:  #2563eb;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 6px 12px;
  transition: background 0.2s ease;
}

.navbar-menu li a:hover {
  background-color: #e2e8f0;
  border-radius: 6px;
}



.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #1e3a8a;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #2563eb;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}
